* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --blue: #30768d;
    --white: white;
}

body {
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

section {
    display: flex;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50rem;
    margin: 2rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.36);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

input {
    margin-bottom: 1rem;
}

#gerar {
    border-radius: .5rem;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    height: 4rem;
}

#gerar:hover {
    cursor: pointer;
}

header {
    color: var(--white);
    font-weight: bold;
    font-size: 2rem;
}

footer {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--white);
}

#res {
    display: none;
    padding: .5rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

#numero {
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.345);
    padding: .5rem;
}